@model IEnumerable<PizzeriaInForno.Models.Product>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">PIZZERIA IN FORNO</h1>
        <p class="lead">La pizzeria migliore di Roma (anche meglio di quelle Gourmet)</p>
    </section>
    <div class="row g-3 justify-content-between">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src=@item.ProductImage class="card-img-top mt-2" alt="..." style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title">@item.ProductName</h4>
                    <p class="card-text">@item.Ingredients</p>
                </div>
                <h5 class="card-text mt-auto mx-3">@item.ProductPrice €</h5>
                <div class="text-end">
                    @Html.ActionLink("Aggiungi all'ordine", "Details", "Products", new { id = item.ProductId }, new { @class = "btn btn-primary mt-auto mb-3 m-2" })
                </div>
            </div>
        }
    </div>
</main>